/* resize challenge boxes */
.challenge-box {
    margin-bottom: 8px;
    padding: 8px;
    padding-left: 24px;
    border-radius: 30px;
    height: 128px;
    background-color: rgba(50, 116, 44, 0.7);
    display: block;
    cursor: pointer;
    z-index: 4;
    position: relative;
    /*color: rgb(97,97,97);*/
    color: black;
}

.challenge-box:hover {
    z-index: 2;;
    background-color: rgba(50, 116, 44, 1);
    color: black;
   -webkit-transform: scale(1.02);
   -moz-transform: scale(1.02);
   -ms-transform: scale(1.02);
   -o-transform: scale(1.02);
   transform: scale(1.02);
}
/*
-webkit-animation: scaleIt 1s ease-in;
-moz-animation: scaleIt 1s ease-in-out;
-o-animation: scaleIt 1s ease-in-out;
animation: scaleIt 1s ease-in;*/
/*
@-webkit-keyframes scaleIt {
  0%   { transform: scale(1.00); }
  50%  { transform: scale(1.03); }
  100% { transform: scale(1.02); }
}
@-moz-keyframes scaleIt {
  0%   { transform: scale(1.00); }
  50%  { transform: scale(1.03); }
  100% { transform: scale(1.02); }
}
@-o-keyframes scaleIt {
  0%   { transform: scale(1.00); }
  50%  { transform: scale(1.03); }
  100% { transform: scale(1.02); }
}
@keyframes scaleIt {
  0%   { transform: scale(1.00); }
  50%  { transform: scale(1.03); }
  100% { transform: scale(1.02); }
}*/


/* challenge title */
.challenge-box > h1 {
    z-index: 4;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
}

/* challenge description */
.challenge-box > p {
    height: 40px;
    overflow: hidden;
}

.challenge-box-image {
    content: "";
    /*background-image: url("../img/icon/flowers12.png");*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    opacity: 0.3;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    z-index: 7;
}


/*
Detail boxes have no fixed height and show the whole challenge.
They should only be used by the detail page.
*/

/* resize challenge boxes */
.challenge-detail-box {
    margin-bottom: 8px;
    padding: 8px;
    padding-left: 24px;
    border-radius: 30px;
    background-color: #DDD;
    position: relative;
    display: block;
    z-index: 4;
}

/* challenge title */
.challenge-detail-box h1 {
    z-index: 4;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

/* challenge description */
.challenge-detail-box p {
}

.challenge-detail-box-image {
    content: "";
    /*background-image: url("../img/icon/flowers12.png");*/
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    opacity: 0.3;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    z-index: 7;
}

