/* resize challenge boxes */
.challenge-box {
    margin-bottom: 8px;
    padding: 8px;
    padding-left: 24px;
    border-radius: 30px;
    height: 128px;
    background-color: rgba(200, 200, 200, 0.7);
    display: block;
    cursor: pointer;
    z-index: 4;
}

.challenge-box:hover {
    z-index: 2;
    background-color: #DDD;
   -webkit-transform: scale(1.02);
   -moz-transform: scale(1.02);
   -ms-transform: scale(1.02);
   -o-transform: scale(1.02);
   transform: scale(1.02);
}

/* challenge title */
.challenge-box > h1 {
    z-index: 4;
    overflow: hidden;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

/* challenge description */
.challenge-box > p {
    height: 40px;
    overflow: hidden;
}

.challenge-icon {
    content: "";
    background-image: url("../img/icon/flowers12.png");
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: absolute;
    display: block;
    top: 4px;
    bottom: 10px;
    left: 16px;
    right: 16px;
    z-index: 1;
}