

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.wrap-content {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}






